/bin
/diatomas_lib
/state
/.settings
/.externalToolBuilders
/.git*
/13*
/as*
/AS*
/default*
/dental*
/ecoli*
/storage
diatomas.jar
.classpath
.project
*.class
/granule*
/comsol_*
/bridge_22
/bridge_26
/bridge_28
/bridge_5
/bridge_dt02
/bridge_v3_22
/bridge_v3_31
/bridge_v3_4
/bridge_v3_8
/bridge_v3_9
